body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#clickableImage {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    transform: scale(0.3);
    z-index: 1;
}

.styledImage {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    max-width: 20%;
    max-height: 60vh;
    margin-top: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    animation: appearFromBottom 1s ease-out forwards;
}

@keyframes appearFromBottom {
    from {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
    }
    to {
        transform: translateY(-50%) translateX(-50%) scale(0.5);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    #clickableImage {
        transform: scale(0.2);
    }

    .styledImage {
        max-width: 80%;
        max-height: 80vh;
    }
}

@media (max-width: 480px) {
    #clickableImage {
        transform: scale(0.1);
    }

    .styledImage {
        max-width: 90%;
        max-height: 70vh;
    }
}


