body {
   margin: 0;
   font-family: Arial, sans-serif;
}

.CSSgal {
   overflow: hidden;
}

.slider {
   display: flex;
   transition: transform 0.5s ease-in-out;
}

.slider div {
   flex: 0 0 300px; /* Larghezza fissa del div */
   height: 200px; /* Altezza fissa del div */
   box-sizing: border-box;
}

.slider img {
   width: 100%;
   height: 100%; /* Altezza del 100% per riempire completamente il div */
   object-fit: cover; /* Ritaglia l'immagine per adattarla alle dimensioni del div senza deformarla */
   display: block;
   margin: 0 auto;
}


.prevNext {
   position: absolute;
   top: 50%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   transform: translateY(-50%);
}

.prevNext div {
   width: 50%;
   display: flex;
   justify-content: space-between;
}

.prevNext a {
   display: block;
   width: 50px;
   height: 50px;
   background-color: #333;
   color: #fff;
   text-align: center;
   line-height: 50px;
   text-decoration: none;
}

.bullets {
   text-align: center;
   margin-top: 20px;
}

.bullets a {
   display: inline-block;
   width: 10px;
   height: 10px;
   background-color: #333;
   border-radius: 50%;
   margin: 0 5px;
   text-decoration: none;
   color: #fff;
}
